@charset "UTF-8";
@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro.eot");
  src: url("../fonts/DINPro.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro.woff") format("woff"), url("../fonts/DINPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/din_pro_light.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/din_pro_light.eot?#iefix") format("embedded-opentype"), url("../fonts/din_pro_light.woff2") format("woff2"), url("../fonts/din_pro_light.woff") format("woff"), url("../fonts/din_pro_light.ttf") format("truetype"), url("../fonts/din_pro_light.svg#din_pro_light") format("svg");
  /* Chrome < 4, Legacy iOS */
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Medium.eot");
  src: url("../fonts/DINPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Bold.eot");
  src: url("../fonts/DINPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Bold.woff") format("woff"), url("../fonts/DINPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mazzard";
  src: local("Mazzard H Regular"), local("Mazzard-H-Regular"), url("../fonts/MazzardH-Regular.woff2") format("woff2"), url("../fonts/MazzardH-Regular.woff") format("woff"), url("../fonts/MazzardH-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mazzard";
  src: local("Mazzard L Bold"), local("Mazzard-L-Bold"), url("../fonts/MazzardL-Bold.woff2") format("woff2"), url("../fonts/MazzardL-Bold.woff") format("woff"), url("../fonts/MazzardL-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.burger {
  width: 50px;
  height: 50px;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 3000;
  transform: scale(0.85);
  display: none;
}
.burger span {
  width: 40px;
  height: 3px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s;
  border-radius: 15px;
}
.burger .burger-line__top {
  margin-top: -9px;
}
.burger .burger-line__bottom {
  margin-top: 9px;
  width: 67%;
  left: 44.5%;
}
.burger .burger-line__center {
  width: 50%;
  left: 36.5%;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-big {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-size: 16px;
  font-family: "DIN Pro", sans-serif;
}

.window2 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  background: #000;
  opacity: 0.5;
  display: none;
}

.window2-active {
  display: block;
}

.popup {
  position: absolute;
  min-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 80px 60px;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.popup .wrappper-input:before {
  top: 21px;
}
.popup__close {
  position: absolute;
  top: 30px;
  right: 40px;
  cursor: pointer;
}
.popup__close:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 3px;
  background: #888;
  transform: rotate(45deg);
}
.popup__close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 3px;
  background: #888;
  transform: rotate(-45deg);
}
.popup__title {
  color: #000000;
  font-family: "Mazzard", sans-serif;
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 0.33px;
}
.popup__text {
  max-width: 360px;
  margin: 0 auto;
  color: #010101;
  font-size: 20px;
  margin-bottom: 30px;
}
.popup__inp {
  height: 60px;
  border-radius: 3px;
  border: 1px solid #bebebe;
  background-color: #ffffff;
  padding-left: 20px;
  width: 100%;
  margin-bottom: 20px;
  color: #444;
  font-size: 24px;
  font-weight: 500;
}
.popup__inp::placeholder {
  color: #777;
  font-size: 24px;
  font-weight: 500;
}
.popup__btn {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.96px;
  height: 60px;
  border-radius: 3px;
  background-color: #ff3a00;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  cursor: pointer;
  margin-bottom: 20px;
  -bottom: 20px;
}
.popup__ps {
  font-size: 12px;
  color: #919191;
  font-weight: 500;
}
.popup__link {
  font-size: 12px;
  color: #919191;
  font-weight: 500;
  text-decoration: underline;
}

.window {
  width: 100vw;
  height: 100vh;
  z-index: 5000;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(0);
}

.window-active {
  transform: scale(1);
}

.wrappper-input-error {
  background-color: #6b757f;
  border-radius: 10px;
  padding: 18px 42px 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  white-space: nowrap;
  top: -15px;
  right: -10px;
  transform: translateY(-100%);
  z-index: 10;
  display: none;
}
.wrappper-input-error:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 20px;
  display: block;
  width: 20px;
  height: 20px;
  background: #6b757f;
  transform: translateY(50%) rotate(45deg);
}

.global-input {
  border-radius: 3px;
  background-color: #ffffff;
  padding-left: 30px;
  color: #343434;
  height: 48px;
  font-size: 18px;
  font-weight: 500;
  padding-right: 40px;
  position: relative;
  width: 100%;
}
.global-input::placeholder {
  color: #959595;
  font-size: 18px;
  font-weight: 500;
}

.wrappper-input {
  position: relative;
  width: 100%;
}
.wrappper-input:before {
  content: "";
  position: absolute;
  top: 16px;
  right: 20px;
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../image/icon/okkk.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
  display: none;
}

.global-btn {
  cursor: pointer;
  height: 48px;
  border-radius: 3px;
  background-color: #ff3a00;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.1px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.25s;
}
.global-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  display: block;
  width: 58px;
  height: 100%;
  background-image: url(../image/certificats/shine.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.global-btn:hover {
  background-color: #c32c00;
}
.global-btn span {
  position: relative;
  display: inline-block;
  transform: translateY(-1px);
  padding-right: 22px;
}
.global-btn span:before {
  content: "";
  position: absolute;
  top: 52%;
  right: 0;
  display: block;
  width: 10px;
  height: 2px;
  border-radius: 10px;
  background: #fff;
  transform: translateY(-3px) rotate(45deg);
}
.global-btn span:after {
  content: "";
  position: absolute;
  top: 52%;
  right: 0;
  display: block;
  width: 10px;
  height: 2px;
  border-radius: 10px;
  background: #fff;
  transform: translateY(150%) rotate(-45deg);
}

.input-error .wrappper-input-error {
  display: block;
}
.input-error input {
  border: 1px solid #ff3a00 !important;
}

.wrappper-input-ok:before {
  display: block;
}

.global-title {
  color: #000000;
  font-size: calc(24px + 8 * ((100vw - 320px) / 1120));
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 16px;
  position: relative;
  letter-spacing: 0.3px;
}
.global-title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 180px;
  height: 2px;
  background: #002cba;
}

.global-subtitle {
  color: #000000;
  margin-top: 8px;
  font-size: calc(19px + 9 * ((100vw - 320px) / 1120));
  font-weight: 400;
  text-align: center;
}

.popup__slider-wrapper {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: fixed;
  z-index: 700;
  top: 50%;
  transition: 0.3s;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup__slider {
  max-width: 917px;
}
.popup__slider .slick-list {
  overflow: hidden;
  outline: none;
}
.popup__slider .slick-track {
  display: flex;
  justify-content: space-between;
}
.popup__slider .slick-dots {
  display: flex;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup__slider .slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c1c1c1;
  margin: 0 8px;
  transition: 0.25s;
  font-size: 0;
  cursor: pointer;
}
.popup__slider .slick-dots li.slick-active {
  background: #002cba;
}
.popup__slider .slick-dots li button {
  visibility: hidden;
}
.popup__slider .slick-arrow {
  position: absolute;
  bottom: -15px;
  top: 50%;
  left: 0;
  font-size: 0;
  margin-top: -25px;
  cursor: pointer;
  background: none;
  background-image: url(../image/certificats/arrow_left.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 50px;
  height: 50px;
  transform: translateX(-50px);
}
.popup__slider .slick-arrow.slick-next {
  transform: translateX(50px);
  left: initial;
  right: 0;
  background-image: url(../image/certificats/arrow_right.svg);
}

.popup__slide {
  max-height: 80vh;
  margin: 0 10px;
  outline: none;
}
.popup__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup__slider-close {
  position: absolute;
  top: -30px;
  right: 45px;
}
.popup__slider-close:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 20px;
  background: #fff;
  transform: rotate(45deg);
}
.popup__slider-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 20px;
  background: #fff;
  transform: rotate(-45deg);
}

.header__row {
  height: 85px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0 28px;
}
.header__logo {
  width: 233px;
  flex-shrink: 0;
  position: relative;
  z-index: 700;
}
.header__logo img {
  object-fit: cover;
}
.header__list {
  display: flex;
  align-items: center;
  margin-right: 70px;
}
.header__item {
  height: 85px;
  transition: 0.25s;
  position: relative;
}
.header__item:hover {
  background-color: #f4f5f6;
}
.header__item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #002cba;
  transform: scaleX(0);
  transition: 0.25s;
}
.header__item:hover:before {
  transform: scaleX(1);
}
.header__link {
  padding: 0 9px;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  height: 100%;
  display: flex;
  align-items: center;
}
.header__wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  position: relative;
  z-index: 700;
}
.header__wrapper .select {
  position: relative;
  font-family: "DIN Pro" !important;
  min-height: 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.72px;
}
.header__wrapper .select__item {
  position: relative;
}
.header__wrapper .select__title {
  color: #000;
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  text-align: right;
}
.header__wrapper .select__value {
  display: flex;
  height: 30px;
  width: 167px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
  text-align: right;
  font-weight: 700;
}
.header__wrapper .select__value span {
  height: 1.2em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-left: 10px;
  font-family: "DIN Pro" !important;
  margin-top: 0px;
  font-weight: 700;
  text-decoration: underline;
}
.header__wrapper .select__value::after {
  content: "";
  display: block;
  position: absolute;
  right: 5px;
  top: 50%;
  width: 8px;
  height: 1px;
  background: #000;
  transform: translateX(0%) rotate(50deg);
  margin-top: -1px;
}
.header__wrapper .select__value::before {
  content: "";
  display: block;
  margin-top: -1px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 8px;
  height: 1px;
  background: #000;
  transform: rotate(-50deg);
}
.header__wrapper .select__options {
  color: #000;
  background-color: #fff;
  display: none;
  z-index: 2;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  padding: 5px 5px 5px 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
}
.header__wrapper .select__option {
  cursor: pointer;
  padding: 10px 10px;
  margin: 0px 0px 0px 0px;
}
.header__wrapper .select._active {
  z-index: 5;
}
.header__wrapper .select._active .select__value::before {
  transform: rotate(50deg);
}
.header__wrapper .select._active .select__value::after {
  transform: translateX(0%) rotate(-50deg);
}
.header__wrapper .select._active.select__options {
  display: block;
}
.header__phone {
  font-size: 18px;
  color: #010101;
  font-weight: 700;
}
.header__call {
  color: #000000;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3.2px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 4px;
  margin-bottom: 7px;
}
.header__call:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  transition: 0.3s;
  background: #000;
  transform-origin: right;
}
.header__call:hover:before {
  transform: scaleX(0);
}
.header__body {
  padding: 124px 0;
  background-image: url(../image/certificats/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 632px;
}
.header__body-wrapper {
  max-width: 952px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: space-between;
  padding: 52px 37px;
  color: #fff;
}
.header__body-inner {
  flex: 0 0 560px;
}
.header__body-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 2px;
  margin-bottom: 35px;
}
.header__body-title span {
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 700;
  display: block;
}
.header__body-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 10px;
}
.header__body-box {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.header__body-par {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 4.32px;
  text-transform: uppercase;
}
.header__body-list {
  display: flex;
  margin-left: 13px;
  align-items: center;
}
.header__body-item {
  font-size: 18px;
  font-weight: 700;
  margin-right: 11px;
}
.header__body-form {
  flex-grow: 1;
  margin-left: 45px;
  display: flex;
  flex-direction: column;
}
.header__form-title {
  font-size: 22px;
  font-weight: 500;
  position: relative;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 11px auto 20px;
  text-align: center;
}
.header__form-title:before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #Fff;
}
.header__form-input {
  margin-bottom: 10px;
}
.header__form-ps {
  color: #919191;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  max-width: 215px;
  display: inline;
  margin: 0 auto;
  margin-top: 16px;
}
.header__form-ps a {
  display: inline;
  color: #919191;
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
}

.photo {
  padding: 74px 0 85px 0;
}
.photo__slider {
  position: relative;
  padding-bottom: 80px;
  max-width: 915px;
  margin: 46px auto 0;
  /* Активная точка */
  /* Элемент точки */
}
.photo__slider .slick-list {
  overflow: hidden;
  outline: none;
  margin: 0 -8px;
}
.photo__slider .slick-track {
  display: flex;
}
.photo__slider .slick-dots {
  display: flex;
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.photo__slider .slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c1c1c1;
  margin: 0 8px;
  transition: 0.25s;
  font-size: 0;
  cursor: pointer;
}
.photo__slider .slick-dots li.slick-active {
  background: #002cba;
}
.photo__slider .slick-dots li button {
  visibility: hidden;
}
.photo__slider .slick-arrow {
  position: absolute;
  bottom: -7px;
  left: 50%;
  font-size: 0;
  cursor: pointer;
  background: none;
  background-image: url(../image/certificats/arrow_left.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 50px;
  height: 50px;
  transform: translateX(-145px);
}
.photo__slider .slick-arrow.slick-next {
  transform: translateX(94px);
  background-image: url(../image/certificats/arrow_right.svg);
}
.photo__slide {
  margin: 0 8px;
  outline: none;
  height: 145px;
  cursor: zoom-in;
}
.photo__slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video {
  background-color: #f4f5f6;
  padding: 84px 0 107px 0;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 771px;
  margin: 0 auto;
  margin-top: 50px;
  height: 404px;
}
.video-wrapper video {
  outline: none;
  max-width: 771px;
  margin: 0 auto;
}

.video-wrapper-img-none {
  display: none;
}

.video-wrapper-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  height: 100%;
  object-fit: cover;
}

.certorder {
  background-image: url(../image/certificats/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 448px;
  padding: 30px 0;
  color: #ffffff;
  background-color: #fff;
}
.certorder__wrapper {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 78px 75px 65px;
  max-width: 1050px;
  margin: 0 auto;
}
.certorder__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  max-width: 460px;
  margin: 0 auto;
  text-align: center;
  font-size: calc(18px + 10 * ((100vw - 320px) / 1120));
}
.certorder__title span {
  text-transform: uppercase;
  font-size: calc(20px + 12 * ((100vw - 320px) / 1120));
}
.certorder__form {
  display: flex;
  margin-top: 57px;
  justify-content: space-between;
}
.certorder__inner {
  display: flex;
  justify-content: space-between;
}
.certorder__ps {
  color: #919191;
  display: inline;
  font-size: 12px;
  width: 70%;
  text-align: right;
  padding-right: 28px;
  margin-top: 40px;
  letter-spacing: 0.2px;
}
.certorder__ps a {
  display: inline;
  text-decoration: underline;
  color: #919191;
}
.certorder__go {
  color: #ffffff;
  font-weight: 500;
  width: 32%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  margin-top: 27px;
  white-space: nowrap;
  font-size: calc(20px + 2 * ((100vw - 320px) / 1120));
}
.certorder__go span {
  position: relative;
}
.certorder__go span:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
}
.certorder .wrappper-input {
  width: 30%;
}
.certorder-btn {
  width: 30%;
}

.contacts {
  padding: 93px 0 90px 0;
  background-color: #fff;
}
.contacts__text {
  color: #313131;
  font-weight: 400;
  line-height: 31.99px;
  text-align: center;
  margin: 0 auto;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1120));
}
.contacts-title {
  margin-bottom: 52px;
}
.contacts__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
.contacts__wrapper img {
  margin-right: 6px;
  transform: translateY(5px);
}
.contacts__inner {
  display: flex;
  align-items: center;
  color: #717171;
  font-size: calc(13px + 7 * ((100vw - 320px) / 1120));
  margin: 0px 18px 0 32px;
}
.contacts__mail {
  color: #002cba;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  margin-top: 25px;
  letter-spacing: 0.7px;
  font-size: calc(15px + 5 * ((100vw - 320px) / 1120));
}
.contacts__tel {
  white-space: nowrap;
  color: #002cba;
  font-size: calc(15px + 5 * ((100vw - 320px) / 1120));
  font-weight: 700;
  text-align: center;
  margin-top: 17px;
}
.contacts__socials {
  margin-top: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts__socials-link {
  margin: 0 8px;
}

.payment {
  padding: 94px 0 89px 0;
  background-color: #f4f5f6;
}
.payment__wrapper {
  max-width: 717px;
  box-shadow: 0 15px 27px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 38px 45px 50px 42px;
  margin-top: 60px;
}
.payment__par {
  display: flex;
  align-items: center;
}
.payment__par-title {
  color: #000000;
  font-weight: 700;
  margin-right: 4px;
  font-size: calc(26px + 4 * ((100vw - 320px) / 1120));
}
.payment__pay-inner {
  display: flex;
}
.payment__par-text {
  color: #000000;
  margin-top: 5px;
  font-weight: 400;
  font-size: calc(20px + 4 * ((100vw - 320px) / 1120));
}
.payment__subtitle {
  color: #000000;
  font-weight: 500;
  line-height: 24px;
  margin-top: 18px;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1120));
}
.payment__box {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.payment__box-text {
  color: #666666;
  font-size: 19px;
  font-weight: 500;
  margin-right: 50px;
}
.payment .wrappper-input {
  margin-top: 18px;
}
.payment .wrappper-input::before {
  top: 19px;
}
.payment__input {
  width: 100%;
  height: 54px;
  border-radius: 3px;
  border: 2px solid #bebebe;
  background-color: #ffffff;
  color: #454545;
  font-size: 19px;
  font-weight: 500;
  padding-left: 50px;
  padding-right: 60px;
}
.payment__input::placeholder {
  font-size: 19px;
  color: #959595;
  font-weight: 500;
}
.payment__line-wrapper {
  display: flex;
  padding-bottom: 23px;
  margin-top: 22px;
}
.payment__line-inner {
  display: flex;
}
.payment__line-inner img {
  margin-left: 33px;
}
.payment__line-label {
  color: #666666;
  font-size: 19px;
  font-weight: 500;
  padding-left: 60px;
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.payment__line-label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 37px;
  height: 37px;
  border-radius: 3px;
  border: 2px solid #bebebe;
}
.payment__line-label:after {
  content: "";
  position: absolute;
  top: 9px;
  left: 7px;
  display: block;
  width: 24px;
  height: 17px;
  background-image: url(../image/certificats/checkmark.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: 0.2s;
  transform: scale(0);
}
.payment__line-checkbox {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
}
.payment__line-checkbox:checked ~ .payment__line-label:after {
  transform: scale(1);
}
.payment__line-text {
  color: #575757;
  font-size: 14px;
  line-height: 18px;
  margin-left: 34px;
}
.payment__btn {
  width: 100%;
  height: 56px;
  letter-spacing: 3px;
}
.payment__btn span:before, .payment__btn span:after {
  right: -10px;
}
.payment__pay-inner {
  margin-top: 5px;
  justify-content: center;
}
.payment__pay-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #666666;
  font-size: 19px;
  font-weight: 500;
  margin-top: 27px;
}
.payment__pay-wrapper img {
  margin: 0 5px;
  max-width: initial;
}
.payment__pay-wrapper p {
  transform: translate(2px, -1px);
}
.payment__ps {
  color: #919191;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  margin-top: 12px;
}
.payment__ps a {
  display: inline;
  text-decoration: underline;
  color: #919191;
  font-size: 12px;
  font-weight: 500;
}
.payment .select {
  position: relative;
  font-family: "DIN Pro" !important;
  min-height: 30px;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.72px;
  width: 100%;
  color: #666666;
}
.payment .select__item {
  position: relative;
}
.payment .select__title {
  color: #666666;
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  text-align: right;
}
.payment .select__value {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  text-align: center;
  font-weight: 700;
  height: 54px;
  border-radius: 3px;
  border: 2px solid #bebebe;
  background-color: #ffffff;
}
.payment .select__value span {
  height: 1.2em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-left: 10px;
  font-family: "DIN Pro" !important;
  margin-top: 0px;
  font-weight: 700;
}
.payment .select__value::after {
  content: "";
  display: block;
  position: absolute;
  right: 45px;
  top: 50%;
  width: 10px;
  height: 2px;
  background: #666666;
  transform: translateX(-15%) rotate(45deg);
  margin-top: -1px;
}
.payment .select__value::before {
  content: "";
  display: block;
  margin-top: -1px;
  position: absolute;
  right: 40px;
  top: 50%;
  width: 10px;
  height: 2px;
  background: #666666;
  transform: rotate(-45deg);
}
.payment .select__options {
  border: 2px solid #bebebe;
  border-top: none;
  background-color: #fff;
  display: none;
  z-index: 2;
  text-align: center;
  position: absolute;
  top: 52px;
  border-radius: 0 0 3px 3px;
  min-width: 100%;
  left: 0;
}
.payment .select__option {
  cursor: pointer;
  padding: 15px 0;
  margin: 0 0;
}
.payment .select__option:hover {
  background: #002cba;
  color: #fff;
  transform: scaleX(1.017);
  border-radius: 3px;
}
.payment .select._active {
  z-index: 5;
}
.payment .select._active .select__value::before {
  transform: rotate(45deg);
}
.payment .select._active .select__value::after {
  transform: translateX(-15%) rotate(-45deg);
}
.payment .select._active.select__options {
  display: block;
}

@media (max-width: 350px) {
  .payment__pay-wrapper img {
    transform: scale(0.85);
  }
}
@media (max-width: 1100px) {
  .certorder__wrapper {
    padding: 40px 50px 50px;
  }

  .certorder {
    min-height: initial;
  }

  .certorder__form {
    margin-top: 30px;
  }
}
@media (max-width: 1020px) {
  .burger {
    display: block;
  }

  .header__row {
    position: relative;
  }
  .header__row:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 650;
    height: 85px;
    background: #fff;
  }

  .header__nav {
    position: absolute;
    top: -450px;
    left: 0;
    width: 100vw;
    background: #fff;
    z-index: 600;
    padding-top: 75px;
    padding-left: 8px;
    padding-bottom: 15px;
    transition: 0.7s;
  }

  .header__nav-active {
    top: 0;
  }

  .header__item {
    height: initial;
    margin: 10px 0;
  }

  .header__link {
    text-transform: uppercase;
    font-size: 15px;
  }

  .header__list {
    flex-direction: column;
    align-items: start;
  }

  .header__body-form {
    margin-left: 20px;
  }
}
@media (max-width: 940px) {
  .header__body-title span {
    font-size: 33px;
  }

  .header__body-title {
    font-size: 25px;
  }

  .header__body-inner {
    flex: 0 0 490px;
  }
}
@media (max-width: 850px) {
  .header__body-title span {
    font-size: 27px;
    line-height: 0.7;
  }

  .header__body-text {
    font-size: 16px;
  }

  .header__body-inner {
    flex: 0 0 420px;
  }

  .video-wrapper video {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .certorder__title {
    line-height: 1.5;
  }

  .certorder .wrappper-input {
    width: 33%;
  }

  .certorder__wrapper {
    padding: 40px 25px 50px;
  }

  .certorder__ps {
    margin-top: 30px;
    text-align: left;
  }
}
@media (max-width: 760px) {
  .header__body-wrapper {
    flex-direction: column;
  }

  .header__body-inner {
    flex: initial;
  }

  .header__body-form {
    margin-left: 0;
    margin-top: 25px;
  }

  .header__body-title {
    margin-bottom: 15px;
  }

  .header__form-title {
    margin: 14px 0 17px;
  }

  .header__body-text {
    margin-top: 0;
  }

  .header__form-ps {
    color: #919191;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    max-width: initial;
    display: inline;
    margin: 0;
    margin-top: 17px;
  }
}
@media (max-width: 700px) {
  .payment__wrapper {
    padding: 38px 25px 50px 25px;
  }

  .payment__par {
    flex-direction: column;
  }

  .payment {
    padding-top: 65px;
  }

  .payment__wrapper {
    margin-top: 25px;
  }
}
@media (max-width: 660px) {
  .certorder__form {
    flex-direction: column;
  }

  .certorder__go {
    margin-top: 10px;
    width: 100%;
  }

  .video-wrapper {
    height: 310px;
  }

  .certorder__ps {
    width: 100%;
    padding-right: 0;
    margin-top: 15px;
    text-align: center;
  }

  .certorder .wrappper-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .certorder__inner {
    flex-direction: column-reverse;
  }

  .certorder-btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .payment__line-label {
    padding-left: 50px;
  }

  .payment__line-inner img {
    margin-left: 25px;
  }

  .payment__line-text {
    margin-left: 20px;
  }
}
@media (max-width: 600px) {
  .header__wrapper {
    flex-direction: row-reverse;
    position: absolute;
    align-items: center;
    bottom: -15px;
    left: 41%;
    transform: translate(-50%, -50%);
  }

  .header__phone {
    white-space: nowrap;
  }

  .header__call {
    display: none;
  }

  .header__phone {
    margin: 0 10px;
  }

  .header__nav {
    padding-top: 85px;
  }

  .header__wrapper .select {
    margin: 0 10px;
  }

  .header__row {
    align-items: start;
    padding-top: 15px;
    justify-content: center;
  }

  .burger {
    position: absolute;
    top: 8px;
    left: 11px;
  }

  .header__body {
    padding: 75px 0;
    min-height: initial;
  }

  .header__body-wrapper {
    text-align: center;
  }

  .header__body-title {
    line-height: 1;
    font-size: 19px;
    margin-bottom: 20px;
  }
  .header__body-title span {
    margin-bottom: 10px;
    font-size: 23px;
  }

  .header__form-title {
    margin: 14px auto 17px;
  }

  .header__body-text {
    margin-top: 5px;
  }

  .header__body-box {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header__body-par {
    width: 100%;
    margin-bottom: 5px;
  }

  .header__form-ps {
    text-align: center;
  }

  .photo {
    padding: 60px 0 75px 0;
  }

  .photo__slider {
    padding-bottom: 65px;
    margin: 30px auto 0;
  }

  .video {
    padding: 40px 0 80px 0;
  }

  .video-wrapper {
    margin-top: 35px;
  }

  .contacts {
    padding: 55px 0 60px 0;
  }

  .contacts-title {
    margin-bottom: 25px;
  }

  .payment__box-text {
    display: none;
  }

  .payment__line-wrapper {
    flex-direction: column;
  }

  .payment__line-inner {
    padding-bottom: 25px;
  }

  .payment__line-text {
    margin-left: 0;
  }

  .payment__line-label:before {
    top: -6px;
  }

  .payment__line-label:after {
    top: 4px;
  }

  .payment__pay-wrapper {
    flex-direction: column;
    margin-top: 15px;
  }
  .payment__pay-wrapper p {
    margin-bottom: 5px;
  }

  .payment__pay-inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .payment {
    padding-top: 45px;
  }

  .wrappper-input-error {
    font-size: 15px;
    padding: 11px 23px 12px;
  }
}
@media (max-width: 470px) {
  .header__logo {
    width: 162px;
  }

  .contacts__inner {
    margin: 0 5px;
  }

  .burger {
    top: 5px;
    left: 0;
    transform: scale(0.7);
  }

  .video-wrapper {
    height: initial;
  }

  .header__body-wrapper {
    padding: 40px 15px;
  }

  .header__phone {
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
  }

  .header__body-title span {
    font-size: calc(18px + 19 * ((100vw - 320px) / 1120));
  }

  .header__body-title {
    font-size: calc(15px + 15 * ((100vw - 320px) / 1120));
  }

  .header__body-text {
    line-height: 1.4;
    font-size: calc(14px + 6 * ((100vw - 320px) / 1120));
  }

  .header__form-title {
    font-size: 20px;
  }

  .header__body-box {
    margin-top: 20px;
  }

  .header__body-form {
    margin-top: 10px;
  }
}
@media (max-width: 400px) {
  .header__body-item {
    font-size: 18px;
  }

  .certorder__wrapper {
    padding: 35px 15px 45px;
  }

  .certorder__form {
    margin-top: 20px;
  }

  .header__body {
    padding: 50px 0;
  }

  .global-subtitle {
    max-width: 320px;
    margin: 8px auto;
    line-height: 139%;
  }

  .photo__slider .slick-dots li {
    margin: 0 7px;
  }

  .photo__slider .slick-arrow {
    left: 0;
    transform: none;
  }

  .photo__slider .slick-arrow.slick-next {
    left: initial;
    right: 0;
    transform: none;
  }

  .payment__wrapper {
    padding: 28px 10px 33px 10px;
  }

  .payment .select__value {
    justify-content: start;
    padding-left: 11px;
  }

  .payment .select__options {
    text-align: left;
    padding-left: 23px;
  }

  .payment .select__value::before {
    right: 20px;
  }

  .payment .wrappper-input {
    margin-top: 14px;
  }

  .payment__input {
    padding-left: 24px;
  }

  .payment .select__value::after {
    right: 25px;
  }

  .header__wrapper .select {
    margin: 0 1px;
    transform: translateY(-2px);
  }

  .payment__subtitle {
    font-size: 11px;
  }

  .payment__subtitle {
    line-height: 21px;
    margin-top: 13px;
  }

  .header__phone {
    margin: 0 17px;
  }

  .header__wrapper {
    bottom: -9px;
  }

  .header__body {
    padding: 31px 0 28px;
  }

  .header__body-wrapper {
    padding: 32px 10px 24px;
  }

  .header__body-text {
    max-width: 275px;
    margin: 10px auto 0;
  }

  .header__body-box {
    margin-top: 22px;
  }

  .header__form-ps {
    text-align: center;
    max-width: 314px;
    margin: 16px auto 7px;
  }

  .header__body-title {
    letter-spacing: 1px;
    margin-bottom: 27px;
  }
  .header__body-title span {
    letter-spacing: 2px;
  }

  .header__body-form {
    margin-top: 5px;
    letter-spacing: 0.9px;
  }

  .header__form-title {
    margin: 14px auto 20px;
  }

  .photo {
    padding: 56px 0 75px 0;
  }

  .global-title:before {
    width: 120px;
  }

  .global-title {
    padding-bottom: 13px;
  }

  .photo__slider {
    margin: 57px auto 0;
  }

  .photo__slide {
    height: 236px;
  }

  .photo__slider .slick-arrow {
    bottom: -12px;
    width: 55px;
    height: 55px;
  }

  .photo__slider .slick-arrow {
    left: -9px;
  }

  .photo__slider .slick-arrow.slick-next {
    right: -9px;
  }

  .photo {
    padding: 56px 0;
  }

  .video {
    padding: 56px 0 61px 0;
  }
  .video .global-subtitle {
    max-width: 253px;
  }

  .video-wrapper {
    margin-top: 46px;
  }

  .video-wrapper {
    height: 185px;
  }

  .certorder {
    padding: 28px 0;
  }

  .certorder__wrapper {
    padding: 44px 10px 31px;
  }

  .certorder__title {
    line-height: 1.3;
  }

  .certorder__form {
    margin-top: 30px;
  }

  .contacts-title {
    margin-bottom: 15px;
  }

  .contacts__socials {
    margin-top: 30px;
  }

  .certorder__go {
    margin-top: 13px;
  }

  .certorder__ps {
    margin-top: 26px;
  }

  .contacts {
    padding: 54px 0 50px 0;
  }

  .contacts-title {
    margin-bottom: 35px;
  }

  .contacts__text {
    line-height: 22px;
  }

  .contacts__wrapper {
    margin-top: 17px;
  }
  .contacts__wrapper p {
    margin-top: 3px;
  }

  .contacts__wrapper img {
    margin-right: 4px;
    transform: translateY(5px) scale(0.75);
  }

  .contacts__inner-1 {
    transform: translateX(7px);
  }

  .contacts__mail {
    margin-top: 18px;
  }

  .contacts__tel {
    margin-top: 12px;
  }

  .payment {
    padding-top: 65px;
    padding-bottom: 63px;
  }

  .payment__wrapper {
    margin-top: 50px;
  }

  .payment__box {
    margin-top: 20px;
  }

  .payment__line-inner {
    padding-bottom: 17px;
  }

  .payment__line-wrapper {
    padding-bottom: 15px;
  }

  .payment__btn {
    letter-spacing: 1px;
  }

  .payment__btn span:before,
.payment__btn span:after {
    right: 1px;
  }

  .payment__pay-wrapper {
    margin-top: 17px;
  }

  .payment__pay-wrapper img {
    margin: 0 2px;
  }

  .payment__pay-inner {
    margin-top: 4px;
    margin-left: 0;
  }

  .payment__ps {
    margin-top: 9px;
  }
}
@media (max-width: 365px) {
  .header__phone {
    margin: 0 5px;
  }

  .header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    transform: none;
    left: 0;
    padding: 0 10px;
    bottom: 0;
    width: 100%;
  }

  .header__wrapper .select {
    margin: 0 5px;
  }
}
.active-burger .burger-line__center {
  opacity: 0;
  transform: translate(-100%, -50%);
}
.active-burger .burger-line__top {
  transform: translate(-50%, 210%) rotate(-45deg);
}
.active-burger .burger-line__bottom {
  transform: translate(-50%, -350%) rotate(45deg);
  width: 40px;
  left: 50%;
}

.body-fixed {
  overflow: hidden;
}

.footer__list-view li {
  display: flex;
}

.footer__list-show li {
  display: flex;
}
.footer__list-show .footer__list-title span {
  display: none;
}

.header__body-wrapper-white {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);
}
.header__body-wrapper-white .header__form-input {
  border-radius: 24px;
  border: 1px solid #6e6e6e;
  background-color: #ffffff;
}
.header__body-wrapper-white .header__form-title:before {
  background: #000;
}
.header__body-wrapper-white .header__body-btn {
  border-radius: 24px;
  background-color: #fa807e;
  background-image: linear-gradient(to right, #f58b5c 0%, #ed6b48 100%);
}
.header__body-wrapper-white .header__body-btn:before {
  left: initial;
  right: 10px;
}

.popup__slider-wrapper-active {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

@media (max-width: 1070px) {
  .popup__slider .slick-arrow {
    left: 25px;
  }

  .popup__slider .slick-arrow.slick-next {
    right: 25px;
  }

  .popup__slider .slick-arrow,
.popup__slider .slick-arrow.slick-next {
    transform: initial;
    z-index: 2000;
  }
}
@media (max-width: 940px) {
  .popup__slider-wrapper {
    width: 100%;
  }
}