@font-face {
  font-family: 'DIN Pro';
  src: url('../fonts/DINPro.eot');
  src: url('../fonts/DINPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro.woff') format('woff'),
    url('../fonts/DINPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro';
  src: url('../fonts/din_pro_light.eot');
  /* IE 9 Compatibility Mode */
  src: url('../fonts/din_pro_light.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */
    url('../fonts/din_pro_light.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/din_pro_light.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */
    url('../fonts/din_pro_light.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/din_pro_light.svg#din_pro_light') format('svg');
  /* Chrome < 4, Legacy iOS */
  font-weight: 300;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'DIN Pro';
  src: url('../fonts/DINPro-Medium.eot');
  src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro-Medium.woff') format('woff'),
    url('../fonts/DINPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'DIN Pro';
  src: url('../fonts/DINPro-Bold.eot');
  src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro-Bold.woff') format('woff'),
    url('../fonts/DINPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'Mazzard';
  src: local('Mazzard H Regular'), local('Mazzard-H-Regular'),
    url('../fonts/MazzardH-Regular.woff2') format('woff2'),
    url('../fonts/MazzardH-Regular.woff') format('woff'),
    url('../fonts/MazzardH-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'Mazzard';
  src: local('Mazzard L Bold'), local('Mazzard-L-Bold'),
    url('../fonts/MazzardL-Bold.woff2') format('woff2'),
    url('../fonts/MazzardL-Bold.woff') format('woff'),
    url('../fonts/MazzardL-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  
}