@font-face {
  font-family: 'TT Firs Neue';
  src: url('../fonts/TTFirsNeue-Light.eot');
  src: local('TT Firs Neue Light'), local('TTFirsNeue-Light'),
    url('../fonts/TTFirsNeue-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTFirsNeue-Light.woff2') format('woff2'),
    url('../fonts/TTFirsNeue-Light.woff') format('woff'),
    url('../fonts/TTFirsNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: url('../fonts/TTFirsNeue-Regular.eot');
  src: local('TT Firs Neue Regular'), local('TTFirsNeue-Regular'),
    url('../fonts/TTFirsNeue-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTFirsNeue-Regular.woff2') format('woff2'),
    url('../fonts/TTFirsNeue-Regular.woff') format('woff'),
    url('../fonts/TTFirsNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: url('../fonts/TTFirsNeue-BoldItalic.eot');
  src: local('TT Firs Neue Bold Italic'), local('TTFirsNeue-BoldItalic'),
    url('../fonts/TTFirsNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTFirsNeue-BoldItalic.woff2') format('woff2'),
    url('../fonts/TTFirsNeue-BoldItalic.woff') format('woff'),
    url('../fonts/TTFirsNeue-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: url('../fonts/TTFirsNeue-DemiBold.eot');
  src: local('TT Firs Neue DemiBold'), local('TTFirsNeue-DemiBold'),
    url('../fonts/TTFirsNeue-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTFirsNeue-DemiBold.woff2') format('woff2'),
    url('../fonts/TTFirsNeue-DemiBold.woff') format('woff'),
    url('../fonts/TTFirsNeue-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;

}


@font-face {
  font-family: 'TT Firs Neue';
  src: url('../fonts/TTFirsNeue-Bold.eot');
  src: local('TT Firs Neue Bold'), local('TTFirsNeue-Bold'),
    url('../fonts/TTFirsNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTFirsNeue-Bold.woff2') format('woff2'),
    url('../fonts/TTFirsNeue-Bold.woff') format('woff'),
    url('../fonts/TTFirsNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'TT Firs Neue';
  src: url('../fonts/TTFirsNeue-Medium.eot');
  src: local('TT Firs Neue Medium'), local('TTFirsNeue-Medium'),
    url('../fonts/TTFirsNeue-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTFirsNeue-Medium.woff2') format('woff2'),
    url('../fonts/TTFirsNeue-Medium.woff') format('woff'),
    url('../fonts/TTFirsNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'TT Firs Neue';
  src: url('../fonts/TTFirsNeue-ExtraBoldItalic.eot');
  src: local('TT Firs Neue ExtraBold Italic'), local('TTFirsNeue-ExtraBoldItalic'),
    url('../fonts/TTFirsNeue-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTFirsNeue-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/TTFirsNeue-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/TTFirsNeue-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;

}



